<h1>User Index</h1>

<ul class="index">
  <% @users.each do |user| %>
    <li class="index-item">
      <div class="index-item-title">
        <%= link_to user.name, user_path(user) %>
      </div>
    </li>
  <% end %>
</ul>