//VARS
$DARK_BLUE: #003399/*#000066*//*#00008B*/;
$MED_BLUE: #6685C2/*#8282B4*//*#4169E1*/;
$LIGHT_BLUE: #CCD6EB/*#CACADF*/;

$LIGHT_GREY: #DCDCDC;


//MIXINS
@mixin clearfix {
  overflow: auto;
  zoom: 1;
}

@mixin box-sizing($var) {
  -webkit-box-sizing: $var; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: $var;    /* Firefox, other Gecko */
  box-sizing: $var;         /* Opera/IE 8+ */
}


//GLOBAL
body {
  font-family: "Nimbus Sans L", "URW Gothic L", Verdana, Tahoma, Helvetica, "Lucida Grande", Geneva, "DejaVu Sans", "Microsoft Sans Serif", sans-serif;
  font-size: 13px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  color: $MED_BLUE;
  text-decoration: none;
}


//SITE-HD obj
.site-hd {
  padding: 10px;
  color: #ffffff;
  background: $DARK_BLUE;
  @include clearfix;
  //clearfix
}

.site-hd-logo {
  display: inline-block;
  font-size: 150%;
  font-weight: bold; 
}

.site-hd-nav {
  display: inline-block; 
  float: right;
}


//mainNav obj
.mainNav {
  font-weight: bold;
  @include clearfix;
  //clearfix
}

.mainNav > * {
  float: left;
  padding: 5px 10px;
}


//INDEX obj
.index-item {
  border-top: 1px solid $LIGHT_GREY;
  /*vertical-align: top;*/
  @include clearfix;
}

.index-item-title {
  padding: 20px 0px;
  color: $DARK_BLUE;
}

.index-item-controls {
  float: right;
  display: inline-block;
}

.index-item-part {
  padding: 10px; 
}


//GRID obj
.grid {
  @include clearfix;
}

.grid-col {
  float: left;
}

@for $GRID-COLS from 1 through 12 {
  .grid-col_#{$GRID-COLS}of12 {
     width: percentage($GRID-COLS / 12)
  }
}


//GETAWAY obj
.getAway_top {
  margin-top: 20px; 
}


//JS ACCORDION
.js-panel {
  //display: none; 
}
.js-trigger {
  cursor: pointer;
}



//BTN obj
.btn {
  display: inline-block;
  padding: 5px 10px;
  color: $MED_BLUE;
  background: $DARK_BLUE;
  border: none;
}



//MARKER obj
.marker {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 18px;
  border: 1px solid #000000;
  margin-right: 0px;
  cursor: pointer;
}

.marker-index {
  display: block;
  padding: 2px 0px 0px 2px; 
}

.marker-trigger {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  height: 100%;
  width: 100%;
  /*background: yellow;*/
  opacity: 0.0;
  @include box-sizing(border-box);
}

.marker-status {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  overflow: hidden;
  
  /*background: $MED_BLUE;*/
  @include box-sizing(border-box);
}

.marker-status_program {
  color: #ffffff;
  background: $DARK_BLUE;
}

.marker-status_part {
  color: #ffffff;
  background: $MED_BLUE;
}

.marker-status_episode {
  color: $DARK_BLUE;
  background: $LIGHT_BLUE;
}

@for $ELAPSED from 0 through 100 {
  .marker-status_#{$ELAPSED}of100 {
    width: percentage($ELAPSED / 100);
  }
}



//FLASHES
.flash {
  margin: 20px 10px;
  padding: 10px;
  text-align: center;
}

.danger {
  color: #804C4C; 
  border: 1px solid #B26B6B;
  background: #FF9999; 
}



//UTILS
.inline-block {
  display: inline-block; 
}