//GLOBAL
body {
  font-family: "Nimbus Sans L", "URW Gothic L", Verdana, Tahoma, Helvetica, "Lucida Grande", Geneva, "DejaVu Sans", "Microsoft Sans Serif", sans-serif;
  font-size: 13px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  color: $MED_BLUE;
  text-decoration: none;
}


//INDEX obj (TODO: Refactor into separate objects)
.index-item {
  border-top: 1px solid $LIGHT_GREY;
  /*vertical-align: top;*/
  @include clearfix;
}

.index-item-title {
  padding: 20px 0px;
  color: $DARK_BLUE;
}

.index-item-controls {
  float: right;
  display: inline-block;
}

.index-item-part {
  padding: 10px; 
}