<div class="site-hd">
  <div class="site-hd-logo">Watchlist</div>
  <div class="site-hd-nav">
    <ul class="mainNav">
      <li><%= link_to "Programs", programs_path %></li>
      <li><%= link_to "Users", '#' %></li>
      <li><%= link_to "MyWatchlist", '#' %></li>
    </ul>
  </div>
</div>